Banner Style Sheet
.caption h3 {
  font-size: 5rem;
  font-weight: 700;
  color: white;
}
.caption h4 {
  font-weight: 700;
  color: white;
}

.caption h3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: white;
}
.h5color{
  color: white;
}

.bf-color{
  color:  white;
  background: red;
  
  }
  .bf-color:hover{
      color: red;
      background: white ;
      }

h1{
  color: rgb(31, 30, 30);
}

.text-size {
  font-size: 3rem;
  font-weight: 700;
}
.icon {
  font-size: 3rem;
}

.card-background {
  width: 100%;
  color: white;
  border-radius: 20px;
  background: #6f98ff;
  box-shadow: 0px 0px 10px #ff8989;
  padding: 5px 5px;
}

.text-style {
  margin-top: 0;
  font-size: 18px;
  text-align: center;
}


.bfcolor{
  font-size: 3.5rem !important;
  color: rgb(231, 179, 46);
}
.b-fcolor{
  color: rgb(231, 179, 46);
}

.btn-color{
  background-color: rgb(231, 179, 46);
  border-radius: 5px;
  border: 2px solid rgb(231, 179, 46);
}
.btn-color:hover{
  color: rgb(231, 179, 46) !important;
  background-color: white;
  border: 2px solid rgb(231, 179, 46);
}
.round{
  border-radius: 10px;;
}
