.text-bold {
  font-size: 2rem;
  font-weight: bold;
}
.border-shadow {
  box-shadow: rgba(1, 3, 30, 0.2) 0px 7px 29px 0px;
  border-radius: 25px;
}
.background-color {
  background-color: rgb(94, 116, 255);
  border-radius: 25px;
}
.authentication-icon {
  font-size: 2.5rem;
}
.long-p {
  padding: 5% 10%;
}
.long-m {
  margin: 0 50px;
}
.width{
  width: 37.5rem;
}